name: Pull Request Checks

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - run: corepack enable
      - run: yarn config set enableImmutableInstalls false
      - run: yarn
      - run: yarn build
      - run: yarn lint
      - run: yarn test --coverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  test-pipelines-tsx:
    uses: ./.github/workflows/test-pipelines-tsx.yml

  test-pipelines-deno:
    uses: ./.github/workflows/test-pipelines-deno.yml

  test-pipelines-bun:
    uses: ./.github/workflows/test-pipelines-bun.yml
